spring:
  profiles:
    default: local

  datasource:
    url: jdbc:h2:mem:~/gcCafe
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none

  h2:
    console:
      enabled: true

---

spring:
  config:
    activate:
      on-profile: local


  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true
    properties:
      hibernate:
        format_sql: true

---

spring:
  config:
    activate:
      on-profile: test

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true